/nbproject/
/thinkphp/
/vendor/
/runtime/*
/application/admin/command/Install/*.lock
/public/uploads/*
.idea
composer.lock
*.log
*.css.map
!.gitkeep
.env
.svn
.vscode
node_modules
public/h5
h5
addons
addons/*
public/assets/addons
public
application/extra/*