<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    {:token()}




    <div class="form-group">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text" value="" placeholder="请输入名称">
        </div>
    </div>
    <div class="form-group">
        <label for="c-state" class="control-label col-xs-12 col-sm-2">{:__('产品类型')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-state" data-rule="required" class="form-control selectpicker" name="row[state]">
                {foreach name="xilie" item="vo"}
                <option  value="{$vo.id}" >{$vo.name}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('提交信息')}:</label>
        <div class="col-xs-12 col-sm-8">

            <dl class="fieldlist" data-name="row[configjson]">
                <dd>
                    <ins>{:__('Key')}</ins>
                    <ins>{:__('Value')}</ins>
                </dd>
                <dd><a href="javascript:;" class="btn btn-sm btn-success btn-append"><i class="fa fa-plus"></i>
                    {:__('Append')}</a></dd>
                <textarea name="row[configjson]" class="form-control hide" cols="30" rows="5"></textarea>
            </dl>
        </div>
    </div>

    <div>

        
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('示例图')}:</label>
        <div class="col-xs-12 col-sm-8">

            <dl class="fieldlist" data-template="basictpl" data-name="row[json]">
                <dd>
                    <ins>{:__('描述')}</ins>
                    <ins>{:__('值')}</ins>
                    <ins>{:__('字段')}</ins>
                </dd>
                <dd><a href="javascript:;" class="btn btn-sm btn-success btn-append"><i class="fa fa-plus"></i>
                    {:__('Append')}</a></dd>
                <textarea name="row[json]" class="form-control" cols="30" rows="5"></textarea>
            </dl>
            <script id="basictpl" type="text/html">
                <dd class="form-inline">
                    <ins>
                        <input type="text" id="town<%=index%>" name="<%=name%>[<%=index%>][town]" class="form-control town" data-pagination="true" data-source="town/index" value="<%=row.town%>" placeholder="城镇" size="10"/>
                    </ins>
                    <ins>
                        <input type="text" id="village<%=index%>" name="<%=name%>[<%=index%>][village]" class="form-control  village"  data-source="[]" value="<%=row.village%>" placeholder="村" size="10"/>
                    </ins>
                    <ins>
                        <input type="text" id="groups<%=index%>" name="<%=name%>[<%=index%>][groups]" class="form-control  groups" data-source="[]" value="<%=row.groups%>" placeholder="组" size="10"/>
                    </ins>
                    <span class="btn btn-sm btn-danger btn-remove"><i class="fa fa-times"></i></span>
                </dd>
            </script>
        </div>
    </div>
    <div class="form-group">
        <label for="c-lable" class="control-label col-xs-12 col-sm-2">{:__('标签')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-lable" data-rule="required" class="form-control selectpicker" name="row[label_id][]" multiple>
                {foreach name="Lable" item="vo"}
                <option  value="{$vo.id}" >{$vo.name}</option>
                {/foreach}
            </select>

        </div>
    </div>

    <div class="form-group">
        <label for="c-conditions_day" class="control-label col-xs-12 col-sm-2">{:__('结算条件')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-conditions_day" data-rule="required" class="form-control" name="row[conditions_day]" type="text"  placeholder="请输入结算佣金">
        </div>
    </div>

    <div class="form-group">
        <label for="c-link" class="control-label col-xs-12 col-sm-2">{:__('二维码链接')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-link" data-rule="required" class="form-control" name="row[link]" type="text"  placeholder="请输入二维码链接">
        </div>
    </div>

    <div class="form-group">
        <label for="c-status" class="control-label col-xs-12 col-sm-2">{:__('上架状态')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-status" data-rule="required" class="form-control selectpicker" name="row[status]">
                <option  value="1" >上架</option>
                <option  value="0" >下架</option>
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('备注')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-more" data-rule="required" class="form-control" name="row[more]" type="text" value="" placeholder="请输入备注">

        </div>
    </div>
    <div class="form-group">
        <label for="c-money" class="control-label col-xs-12 col-sm-2">{:__('结算佣金')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-money" data-rule="required" class="form-control" name="row[money]" type="text" value="" placeholder="请输入结算佣金">
        </div>
    </div>

    <div class="form-group">
        <label for="c-image" class="control-label col-xs-12 col-sm-2">{:__('logo')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-image" class="form-control" size="35" name="row[logo]" type="text" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-image" class="btn btn-danger faupload" data-input-id="c-image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-image" class="btn btn-primary fachoose" data-input-id="c-image" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-image"></ul>
        </div>
    </div>
    <div class="form-group">
        <label for="c-image" class="control-label col-xs-12 col-sm-2">{:__('操作视频')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-operate_video" class="form-control" size="35" name="row[operate_video]" type="text" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-operate_video" class="btn btn-danger faupload" data-input-id="c-operate_video" data-mimetype="*" data-multiple="false" data-preview-id="p-operate_video"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-operate_video" class="btn btn-primary fachoose" data-input-id="c-operate_video" data-mimetype="*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-operate_video"></ul>
        </div>
    </div>


    <div class="form-group">
        <label for="c-common_problem" class="control-label col-xs-12 col-sm-2">{:__('常见问题')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea name="row[common_problem]" id="c-common_problem" cols="60" rows="5" class="form-control editor"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="c-graphic_editor" class="control-label col-xs-12 col-sm-2">{:__('图文编辑')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea name="row[graphic_editor]" id="c-graphic_editor" cols="60" rows="5" class="form-control editor">

            </textarea>
        </div>
    </div>




    <div class="form-group">
        <label for="c-list_order" class="control-label col-xs-12 col-sm-2">{:__('排序')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-list_order" data-rule="required" class="form-control" name="row[list_order]" type="text" value="" placeholder="请输入排序">
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
