<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    {:token()}



    <div class="form-group">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text" value="{$row.name|htmlentities}" placeholder="请输入名称">
        </div>
    </div>
    <div class="form-group">
        <label for="c-state" class="control-label col-xs-12 col-sm-2">{:__('产品类型')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-state" data-rule="required" class="form-control selectpicker" name="row[state]">
                {foreach name="xilie" item="vo"}
                <option  value="{$vo.id}"   {if $vo.id==$row.state}selected{/if}>{$vo.name}</option>
                {/foreach}
            </select>

        </div>
    </div>

    <div class="form-group">
        <label for="c-lable" class="control-label col-xs-12 col-sm-2">{:__('标签')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-lable" data-rule="required" class="form-control selectpicker" name="row[label_id]">
                {foreach name="Lable" item="vo"}
                <option  value="{$vo.id}" {if $vo.id==$row.label_id}selected{/if} >{$vo.name}</option>
                {/foreach}
            </select>

        </div>
    </div>


    <div class="form-group">
        <label for="c-status" class="control-label col-xs-12 col-sm-2">{:__('上架状态')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-status" data-rule="required" class="form-control selectpicker" name="row[status]">
                <option  value="1" {if 1==$row.state}selected{/if}>上架</option>
                <option  value="0" {if 0==$row.state}selected{/if}>下架</option>
            </select>

        </div>
    </div>

    <div class="form-group">
        <label for="c-money" class="control-label col-xs-12 col-sm-2">{:__('结算佣金')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-money" data-rule="required" class="form-control" name="row[money]" type="text" value="{$row.money|htmlentities}" placeholder="请输入结算佣金">
        </div>
    </div>
    <div class="form-group">
        <label for="c-conditions_day" class="control-label col-xs-12 col-sm-2">{:__('结算条件')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-conditions_day" data-rule="required" class="form-control" name="row[conditions_day]" type="text" value="{$row.conditions_day|htmlentities}" placeholder="请输入结算佣金">
        </div>
    </div>
    <div class="form-group">
        <label for="c-image" class="control-label col-xs-12 col-sm-2">{:__('logo')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-image" class="form-control" size="35" name="row[logo]" type="text" value="{$row.logo|htmlentities}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-image" class="btn btn-danger faupload" data-input-id="c-image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-image" class="btn btn-primary fachoose" data-input-id="c-image" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-image"></ul>
        </div>
    </div>
    <div class="form-group">
        <label for="c-image" class="control-label col-xs-12 col-sm-2">{:__('操作视频')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-operate_video" class="form-control" size="35" name="row[operate_video]" type="text" value="{$row.operate_video|htmlentities}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-operate_video" class="btn btn-danger faupload" data-input-id="c-operate_video" data-mimetype="*" data-multiple="false" data-preview-id="p-operate_video"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-operate_video" class="btn btn-primary fachoose" data-input-id="c-operate_video" data-mimetype="*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-operate_video"></ul>
        </div>
    </div>


    <div class="form-group">
        <label for="c-common_problem" class="control-label col-xs-12 col-sm-2">{:__('常见问题')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea name="row[common_problem]" id="c-common_problem" cols="60" rows="5" class="form-control editor">{$row.common_problem|htmlentities}</textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="c-graphic_editor" class="control-label col-xs-12 col-sm-2">{:__('图文编辑')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea name="row[graphic_editor]" id="c-graphic_editor" cols="60" rows="5" class="form-control editor">{$row.graphic_editor|htmlentities}</textarea>
        </div>
    </div>




    <div class="form-group">
        <label for="c-list_order" class="control-label col-xs-12 col-sm-2">{:__('排序')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-list_order" data-rule="required" class="form-control" name="row[list_order]" type="text" value="{$row.list_order|htmlentities}" placeholder="请输入排序">

        </div>
    </div>














    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
